.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin: 2px;
  text-decoration: none;
  transition: background-color 0.3s;
  background-color: #fdc8ab;
}

.pagination a.active {
  background-color: #eb7434;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #eb7434;
}
